{{/* Generates a per-page OpenGraph card (1200x630): the page title and
     description overlaid on a branded background. Returns the image
     resource, or an empty string if the base image/font aren't available. */}}
{{- $ogImg := "" }}
{{- $base := resources.Get "og/og-base.png" }}
{{- $font := resources.Get "og/open-sans-variable.ttf" }}
{{- if and $base $font }}
  {{- $title := .Data.Term | default .Title | default site.Title }}
  {{- $description := .Description | default site.Params.description | plainify }}

  {{- $titleLines := partial "wraptext.html" (dict "text" $title "maxChars" 26 "maxLines" 3) }}
  {{- $descLines := partial "wraptext.html" (dict "text" $description "maxChars" 62 "maxLines" 2) }}

  {{/* The font resource is a single (non-bold) weight, so the title is
       drawn multiple times with a 1px offset in each direction to
       synthesize a bold look ("poor man's bold"). */}}
  {{- $boldOffsets := slice
      (dict "dx" 0 "dy" 0) (dict "dx" 1 "dy" 0) (dict "dx" 2 "dy" 0)
      (dict "dx" 0 "dy" 1) (dict "dx" 1 "dy" 1) (dict "dx" 2 "dy" 1)
      (dict "dx" 0 "dy" 2) (dict "dx" 1 "dy" 2) (dict "dx" 2 "dy" 2)
    }}
  {{- $titleSize := 56 }}
  {{- $titleLineHeight := 70 }}
  {{- $titleTop := 110 }}
  {{- $titleFilters := slice }}
  {{- range $i, $line := $titleLines }}
    {{- $y := add $titleTop (mul $i $titleLineHeight) }}
    {{- range $boldOffsets }}
      {{- $titleFilters = $titleFilters | append (images.Text $line (dict
          "x" (add 70 .dx)
          "y" (add $y .dy)
          "size" $titleSize
          "color" "25252B"
          "font" $font
          "linespacing" 14
        ))
      }}
    {{- end }}
  {{- end }}

  {{- $descSize := 28 }}
  {{- $descLineHeight := 42 }}
  {{- $descTop := add $titleTop (add (mul (len $titleLines) $titleLineHeight) 34) }}
  {{- $descFilters := slice }}
  {{- range $i, $line := $descLines }}
    {{- $descFilters = $descFilters | append (images.Text $line (dict
        "x" 70
        "y" (add $descTop (mul $i $descLineHeight))
        "size" $descSize
        "color" "4E4E55"
        "font" $font
        "linespacing" 10
      ))
    }}
  {{- end }}

  {{- $allFilters := $titleFilters | append $descFilters }}
  {{- if gt (len $allFilters) 0 }}
    {{- $ogImg = $base | images.Filter $allFilters }}
  {{- end }}
{{- end }}
{{- return $ogImg }}
